// create navbar
.navbar
    margin-bottom: 0px
    min-height: 60px

.navbar-default
    border: none
    background-color: #FFFFFF


.navbar-header
    background-color: #3498db
    min-height: 60px
    width: 250px
    background: #2980b9
    background: -webkit-linear-gradient(left, #2980b9 , #3498db)
    background: -o-linear-gradient(right, #2980b9, #3498db)
    background: -moz-linear-gradient(right, #2980b9, #3498db)
    background: linear-gradient(to right, #2980b9 , #3498db)
.navbar-brand
    line-height: 30px
    a
        color: #FFFFFF

.navbar
    .form-control
        border-radius: 25px
        min-height: 35px
        box-shadow: none
        &:hover,
        &:focus
            box-shadow: none
